html {
  background: #fff;
  font-size: 100%;
  min-height: 100%;
  width: 100%;
  margin-bottom: 1px;
  overflow: -moz-scrollbars-vertical !important;
  overflow-y: scroll;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 18px/32px Georgia, Times, "Times New Roman", serif;
  color: #333;
  padding: 30px;
}

h1, h2 {
  float: left;
  clear: both;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #333;
  margin: 0;
}
h1 { font-size: 28px; line-height: 34px; margin-bottom: 34px; }
h2 {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 32px;
  padding-top: 32px;
  border-top: 3px solid #eaeaea;
}

p { float: left; clear: both; width: 100%; margin-bottom: 32px; }

a { color: #0088cc;
  text-decoration: none;
  outline-style: none;
  background-color: #f0f8fd;
  padding: 3px 5px;
}
a:hover { text-decoration: underline; }

body > * { max-width: 820px; }

.footer-by {
  padding-top: 32px;
  border-top: 3px solid #eaeaea;
}

.ic {
  padding: 5px 7px;
  font-size: 13px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0 1px;
  border-radius: 4px;
  color: #555;
  border: 1px solid #ccc;
  background-color: #ececec;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);/*inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.05);*/
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  font-family: "Lucida Console", "Droid Sans Mono", "Courier New", "Lucida Sans Unicode", monospace, sans-serif;
}
.ic a { background: none; padding: 0; margin: 0; }


#logo h1 { display: none; }
#logo {
  float: left;
  clear: both;
  width: 100%;
  height: 125px;
  background: url('voila_logo.png') 0 0 no-repeat;
  margin-bottom: 20px;
}
.svg #logo {
  background: url('voila_logo.svg') 0 0 no-repeat;
}

#demo {
  float: left;
  clear: both;
  max-width: 100% !important;
  width: 100%;
}

/* Notes: used in docs and account page */
.note {
  float: left;
  clear: both;
  color: #666;
  font-size: 15px;
  position: relative;
  margin-bottom: 32px;
  background: #ececec;
  border-radius: 5px;
}
.note .padder {
  padding: 12px 20px 12px 40px;
  float: left;
}
.note .ic { font-size: 11px; background: #e6e6e6; color: #707070; }
.note .fa {
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 25px;
}
.note .fa {
  top: 18px;
  left: 14px;
  font-size: 18px;
}
.lt-ie8 .note .padder { padding-left: 20px; }
.lt-ie8 .note .fa { display: none; }



#progress {
  opacity: 0;
  position: fixed;
  right: 20px;
  top: 20px;
  background: #232323;
  background: rgba(0,0,0,.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
}
.lt-ie7 #progress { display: none; }

.controls,
.buttons,
.checkboxes {
  float: left;
}
.controls {
  clear: both;
  margin-bottom: 20px;
}

button {
  float: left;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 12px;
  margin: 0 5px 5px 0;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  border: 1px solid #999;
  color: #333;
  text-decoration: none;
  text-align: center;
  background-color: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
  text-shadow: 0 -1px 0 rgba(255,255,255,.8);
  outline: none;
}
button:hover,
button a:hover {
  background-color: #d6d6d6;
}
button:active {
  background-color: #c5dbf1;
  border-color: #006ccc;
  color: #002233;
}

.checkboxes {
  padding: 11px 13px;
  font-size: 18px;
  line-height: 24px;
  margin: 2px;
  clear: none;
}
.checkboxes label,
.checkboxes input[type=checkbox] {
  cursor: pointer;
}
.checkboxes label { margin-right: 8px; }


#images {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 32px;
  background: #fff;
  border: 0;
}
#images.is-empty {
  width: auto;
  width: 121px;
  border: 2px dashed #ccc;
  height: 151px;
  box-sizing: content-box;
}
#images img {
  max-height: 150px;
  height: 150px;
  opacity: 1;
  float: left;
}

#images div {
  float: left;
  height: 150px;
  min-width: 100px;
  margin: 0 5px 5px 0;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

#images div,
#images img {
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}
#images .is-loading {
  background-color: #000;
  background-image: url('loading.gif');
  width: 100px;
}

#images .is-broken {
  background-color: #ca3434;
  background-image: url('error.png');
  width: 120px;
}
.lt-ie7 #images .is-broken { background-image: none; }

#images .is-loading img,
#images .is-broken img {
  opacity: 0;
}
.lt-ie9 #images .is-loading img,
.lt-ie9 #images .is-broken img { display: none; }

.dimensions {
  position: absolute;
  right: 6px;
  bottom: 6px;
  background: #232323;
  background: rgba(20,20,20,.8);
  color: #dedede;
  font-size: 11px;
  line-height: 16px;
  padding: 3px 5px;
  border-radius: 4px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.github {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  overflow: hidden;
}

.github .ribbon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #e8341a;
  margin: 0;
}
.github:hover .ribbon {
  background: #1492e2;
}

.github i {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url('github_mark.png') 50% 50% no-repeat;
  cursor: pointer;
}
.svg .github i {
  background: url('github_mark.svg') 50% 50% no-repeat;
}

@supports (transform:rotate(45deg)) {
  .github {
    width: 90px;
    height: 90px;
  }
  .github .ribbon {
    margin: 0;
    margin-right: -60px;
    width: 200px;
    height: 40px;
    transform:rotate(45deg);
  }
  .github i {
    margin: 10px 10px 0 0;
  }
}
